<footer class="bg-black ph3 pv4 white">

	<div class="mw7 center pt3">

		<div class="measure-narrow center mb4">

			<img src="/img/logo.svg" alt="Kaldi logo" class="db w4 center mb4 br0">
			<p class="f3 lh-title light-gray b tc mb2">Zapraszam do kontaktu</p>
			<p>Dane kontaktowe znajdziesz w zakładce <a href="/contact" class="link">Kontakt</a> .</p>


		</div>

		<div class="flex-ns justify-between">

			<div>
				<h3 class="f4 b lh-title mb1 primary">Kaldi</h3>
				<ul class="mb3">
					<li><a href="/" class="link">Strona główna</a></li>
					<li><a href="/products" class="link">Oferta</a></li>
					<li><a href="/values" class="link">Portfolio</a></li>
					<li><a href="/post" class="link">Blog</a></li>
					<li><a href="/contact" class="link">Kontakt</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb1 primary">WWW</h3>
				<ul class="mb3">
					<li><a href="https://znaker.com" class="link">znaker.com</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb2 primary">Social media</h3>
				<ul class="mhn2">
					{{ partial "social-icon" (dict "link" "https://znakerstudio.github.io/" "svg" "icons-github") }}
				</ul>
			</div>

		</div>
	</div>

</footer>

{{ partial "svg" . }}


<script src="/app.js"></script>

<script>
  if('serviceWorker' in navigator) {
      navigator.serviceWorker
          .register('/sw.js', { scope: '/' })
          .then(function(registration) {
              //console.log('Service Worker Registered');
          });

      navigator.serviceWorker
          .ready
          .then(function(registration) {
              //console.log('Service Worker Ready');
          });
  }
</script>
